doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Castles & Dragons
        link(rel="stylesheet" href="index.sass")
    body
        h1(id="h1") Bla
        script(src="index.ts")
